html{
  height: 100%;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#title{
  background-color: #212529;
}

.container-fluid{
  padding: 3% 10% 0;
}


h1{
  font-family: "Playfair Display", 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;
}


button.navbar-toggler{
  outline: none;
}

.navbar{
  padding-left: 12px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, .75);
  transition: color 250ms ease-in-out;
}

.navbar .navbar-brand{
  letter-spacing: 0.05cm;
  font-size: 1.25rem;
}

#title h1{
  margin: 20px 0 40px 10px;
}

button.download{
  width:120px;
  text-align: center;
  margin: 5px 0px 5px 15px;
}

.sample-image{
  transform: rotate3d(1, -1, 1, 60deg);
  width: 60%;
  filter: drop-shadow(30px 30px 15px rgba(0, 0, 0, 0.75));
  position: relative;
  top: -5px;
  transition: top, filter 300ms, 300ms ease-in-out;
}

#features{
  padding: 4rem 7rem 2rem;
  background-color: white;
  /* z-index: 1; */
}

.feature-box{
  padding: 0 1rem;
}

.icon{
  color: #d95d35;
  transition: color 200ms ease-in-out;
  margin: 1rem 0;
}

.icon:hover{
  color: #f4a261;
}

.feature-box{
  text-align: center;
  /* font-weight: bold; */
}

.card-header h3{
  margin: 0.5rem 0;
}

#popular-LUTs{
  padding: 2rem 0;
}

#popular-LUTs h3{
  color: #d95d35;
  text-transform: uppercase;
}

.theme{
  padding: 1.5rem 1.5rem 0;
}

.preset-details{
  line-height: 2;
}

#reviews{
  color:#212427;
  padding-bottom: 3rem;
}

#reviews .container-fluid {
  padding-right: 5%;
  padding-left: 5%;
}

.review-slide{
  justify-content: center;
  min-height: 208px;
}

.review-source{
  text-align: center;
  font-family: "Playfair Display";
}

.review-text{
  text-align: justify;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 2;
  font-family: "Playfair Display";
}

.review-bold{
  font-weight: 500;
}

.review-icon{
  color:#d95d35;
  padding: 1rem 0;
}

#footer{
  background-color: #212529;
  color: rgba(200, 200, 200, 1);
}

#footer .container-fluid{
  padding-top: 0;
  padding-bottom: 3%;
}

.company-footer{
  text-align: justify;
}

.company-logo{
  margin-left: -1rem;
}

/* .email{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(200, 200, 200, 0.8);
  outline: none;
  border: solid 1px rgba(200, 200, 200, 0.8);
  border-radius: 5px;
 padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem; 
} */

.copyright{
  opacity: 80%;
}

footer .nav-link {
  color: rgba(200, 200, 200, 0.8);
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  
  #title .container-fluid {
  padding: 3% 10%;
}

  .sample-image{
    position: static;
    transform: none;
    transition: none;
    filter: drop-shadow(20px 0px 15px rgba(0, 0, 0, 0.75));
  }

  .review-text{
    width: 75%;
    text-align: center;
    margin-top: 0;
  }

  .review-slide{
    min-height: 408px;
  }
}

@media (min-width: 1028px){
  .sample-image:hover {
      top: -20px;
      filter: drop-shadow(50px 50px 15px rgba(0, 0, 0, 0.5));
    }
}